<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Apttus Contract Management Suite</title>
<link href="/dCSS/Theme2/default/common.css" type="text/css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet">
<link href="/dCSS/Theme2/default/custom.css" type="text/css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet">
<script type="text/javascript" src="/js/functions.js"></script>
<script src="/soap/ajax/13.0/connection.js"></script>

{!INCLUDE($SControl.aptsInclude)}
{!INCLUDE($SControl.aptsIncludeActions)}

<script language="javascript" type="text/javascript"> 

var gObjectType = "Apttus__Agreement_Rule__c";
var gObjectName = "{!Agreement_Rule__c.Name}";
var gObjectId = "{!Agreement_Rule__c.Id}";
var gObjectIdURL = "/{!Agreement_Rule__c.Id}";

var cCLONE_OBJECT = "Cloning object...Please wait";
var cERROR_CLONE_OBJECT = "ERROR cloning object:";

function initPage() {
	showMsgProgress(cCLONE_OBJECT);
	window.setTimeout("cloneRule();",gTimeout);
}

function cloneRule() {
	try {
		//make copy
		gDebug = false;
		var cloneId = cloneObject(gObjectType,gObjectId);
		
		//update copy fields
		var dso = sforce.connection.describeSObject(gObjectType);
	    for (var i=0; i<dso.fields.length; i++) {
	        var field = dso.fields[i];
			if (field.nameField=="true" && field.updateable=="true") {
		  		var clone = new sforce.SObject(gObjectType);
			    clone.Id = cloneId;
			    clone.Name = result[0].Name + " Copy";
			    	    
				var result = sforce.connection.update([clone]);
				if (!result[0].getBoolean("success")) {
					erroralert(cERROR_CLONE_OBJECT,result[0]);
					navigateTo(gObjectIdURL);
				}
			}
	    }

		//open the object in edit mode
		if (!gDebug) {
			navigateTo("/"+cloneId+"/e?retURL=%2F"+cloneId);
		}	
	}
	catch(ex) {
		erroralert(cERROR_CLONE_OBJECT,ex);
		navigateTo(gObjectIdURL);
	}
}
</script>
</head>
 
<body onload="initPage()" class="home  editPage">

<div id="divMain"><h1>Please wait...</h1></div>

</body>
</html>