<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Apttus Contract Management Suite</title>
<link href="/dCSS/Theme2/default/common.css" type="text/css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet">
<link href="/dCSS/Theme2/default/custom.css" type="text/css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet">
<script type="text/javascript" src="/js/functions.js"></script>
<script src="/soap/ajax/11.1/connection.js"></script>

{!INCLUDE($SControl.aptsInclude)}
{!INCLUDE($SControl.aptsIncludeDate)}
{!INCLUDE($SControl.aptsIncludeTable)}
{!INCLUDE($SControl.aptsIncludeWizard)}

<script language="javascript" type="text/javascript"> 
<!--
/**
	=================================================================================================
	Preview Agreement
	Creates draft version of an agreement by calling custom merge code.
	=================================================================================================
*/
var cCREATE_DRAFT_AGREEMENT = "Previewing agreement...Please wait";
var cERROR_CREATE_DRAFT_AGREEMENT = "ERROR previewing agreement:\n";

function initPage() {
	window.setTimeout("doInit();", 50);
}

function doInit() {
	gDebugTime = false;
	gIsDraft = true;
	gIsVisible = true;
	gMergeType = "Draft";
	gMergeTypeMsg = cCREATE_DRAFT_AGREEMENT;
	gMergeTypeErr = cERROR_CREATE_DRAFT_AGREEMENT;
	gPageTitle = "Preview Agreement";
	gPageDescription = "Apttus can generate a draft version of your agreement from your data.<br>" +
		"Please choose an agreement template.";

	initWizard();
}

function preMerge() {}

function postMerge() {
	if (gDebugVerbose) { alert("NumApiCalls="+gNumApiCalls); }
	if (gLogActivity) {
		createActivityLogEntry();
	}

	gMMObj = null;
	navigateTo(gContractIdURL);
}

//-->
</script>
</head>

<body onload="initPage()" class="home  editPage">

<div id="divMain"><h1>Please wait...</h1></div>

</body>
</html>