<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Apttus Contract Management Suite</title>
<link href="/dCSS/Theme2/default/common.css" type="text/css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet">
<link href="/dCSS/Theme2/default/custom.css" type="text/css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet">
<script type="text/javascript" src="/js/functions.js"></script>
<script src="/soap/ajax/13.0/connection.js"></script>

{!INCLUDE($SControl.aptsEditLineItems)}
{!INCLUDE($SControl.aptsIncludeDate)}

<script language="javascript" type="text/javascript"> 

var cEDIT_RULE = "Editing rule...Please Wait";
var cERROR_EDIT_RULE = "ERROR editing rule:\n";

function initPage() {
	window.setTimeout("doInit();",gTimeout);
}

function doInit() {
	//set grid specific properties
	gObjectId = "{!$ObjectType.Agreement_Rule__c}";
	gObjectIdURL = "/"+gObjectId;
	gTable = "Apttus__Agreement_Rule__c";
	gTitlePl = "Rules";
	gTitle = "Rule";
	
	cEDIT_LINEITEM = cEDIT_RULE;
	cERROR_EDIT_LINEITEM = cERROR_EDIT_RULE;
	
	//get selected ids
	gRecordIds = {!GETRECORDIDS($ObjectType.Agreement_Rule__c)};
	
	//specify editable columns
	addEditColumn("Apttus__Active__c");
	addEditColumn("Apttus__Order__c");
	addEditColumn("Apttus__Rule_Type__c");
	addEditColumn("Apttus__Rule_Object__c");
	addEditColumn("Apttus__Rule_Field__c");
	addEditColumn("Apttus__Rule_Value__c");

	buildPage();
}

function doCancel() {
	navigateTo(gObjectIdURL);
}
</script>
</head>
 
<body onload="initPage()" class="home  editPage">

<div id="divMain"><h1>Please wait...</h1></div>

</body>
</html>