<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Apttus Contract Management Suite</title>
<link href="/dCSS/Theme2/default/common.css" type="text/css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet">
<link href="/dCSS/Theme2/default/custom.css" type="text/css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet">
<script type="text/javascript" src="/js/functions.js"></script>
<script src="/soap/ajax/13.0/connection.js"></script>

{!INCLUDE($SControl.aptsInclude)}
{!INCLUDE($SControl.aptsIncludeActions)}

<script language="javascript" type="text/javascript"> 

var gOppId = "{!Opportunity.Id}";
var gOppName = "{!Opportunity.Name}";
var gOppAccountId = "{!Opportunity.AccountId}";
var gOppAccountName = "{!Opportunity.Account}";
var gOppAmount = "{!Opportunity.Amount}";
var gOppCloseDate = "{!Opportunity.CloseDate}";
var gOppOwnerId = "{!Opportunity.OwnerId}";
var gOppIdURL = "/{!Opportunity.Id}";

function initPage() {
	window.setTimeout("doInit();", 50);
}

function doInit() {
	gHasRecordTypes = hasCustomField("RecordTypeId", gAgreementObjName);
	if (gHasRecordTypes==true) {
		var cancelURL = gOppIdURL;
		var retURL = gOppIdURL;
		var entity = gOppId;
		var save = "1";
		var saveNewURL = gOpportunityObj + gEditMode + "?retURL=" + gOpportunityObj + gViewMode;
		
		//show custom recordtypeselect.jsp page
		selectRecordType("doCreateAgreementFromOpp()","doCancel()",cancelURL,retURL,entity,save,saveNewURL);
	} else {
		doCreateAgreementFromOpp();
	}
}

function doCreateAgreementFromOpp() {
	newAgreement();
}

function doCancel() {
	navigateTo(gOppIdURL);
}
 
function doCommit(id) {
	createAgreementFromOpp(id);
}

function doRollback(id) {
	doCancel();
}

function createAgreementFromOpp(id) {
	try {
		//create agreement object
		var contract = new sforce.SObject(gAgreementObjName);
		contract.Id = id;
		
		//TODO: get fields from external mapping
		//set agreement fields
		//contract.Apttus__Description__c = document.getElementById("gOppDescription").innerHTML;
		contract.Apttus__Description__c = document.dummy.gOppDescriptionTA.value;
		contract.Apttus__Account__c = gOppAccountId;
		contract.Apttus__Related_Opportunity__c = gOppId;
		contract.OwnerId = gOppOwnerId;
		
		//check opportunity amount
		if (gOppAmount!=null && gOppAmount!="") {
			var oppAmountNum = gOppAmount;
			if (typeof(gOppAmount)=="string") {
				oppAmountNum = convertStringToFloat(gOppAmount);
			} else if (typeof(gOppAmount)=="number") {
			}
			contract.Apttus__Total_Contract_Value__c = oppAmountNum;
		}
				
		//CurrencyIsoCode is not a valid opportunity merge field
		//contract.CurrencyIsoCode = gOppCurrencyIsoCode;
		
		//update the agreement and open in edit mode
		var result = sforce.connection.update([contract]);
		if (result[0].getBoolean("success")) {
			createActivityLogEntry(id);
			editAgreement(id);
			
		} else {
			erroralert(cERROR_CREATE_FROM_OPPORTUNITY, result[0]);
			navigateToHome();
		}
	}
	catch(ex) {
		alert(cERROR_CREATE_FROM_OPPORTUNITY + ex);
		navigateToHome();
	}
}

function createActivityLogEntry(id) {
	try {
		var task = new sforce.SObject("Task");
		
		task.ActivityDate = new Date();
		task.Description = "Created Agreement From Opportunity '" + gOppName + "'"
		task.OwnerId = "{!User.Id}";
		task.Priority = "Normal";
		task.Status = "Completed";
		task.Subject = "Created Agreement From Opportunity";
		task.WhatId = id;
		
		var result = sforce.connection.create([task]);
		if (!result[0].getBoolean("success")) {
			erroralert(cERROR_CREATE_ACTIVITY_LOG, result[0]);
		}
	}
	catch(ex) {
		alert(cERROR_CREATE_ACTIVITY_LOG + ex);
	}
}
</script>
</head>
 
<body onload="initPage()" class="home  editPage">

<div id="divMain"><h1>Please wait...</h1></div>

<div id="gOppDescription" style="position:absolute; visibility:hidden">{!Opportunity.Description}</div>
<form name="dummy" method="post">
<textarea id="gOppDescriptionTA" name="gOppDescriptionTA" style="visibility:hidden">
{!Opportunity.Description}
</textarea>
</form>

</body>
</html>