<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Apttus Contract Management Suite</title>
<link href="/dCSS/Theme2/default/common.css" type="text/css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet">
<link href="/dCSS/Theme2/default/custom.css" type="text/css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet">
<script type="text/javascript" src="/js/functions.js"></script>
<script src="/soap/ajax/11.1/connection.js"></script>

{!INCLUDE($SControl.aptsInclude)}
{!INCLUDE($SControl.aptsIncludeDate)}
{!INCLUDE($SControl.aptsIncludeTable)}
{!INCLUDE($SControl.aptsIncludeWizard)}
{!INCLUDE($SControl.aptsGenerateAgreement)}

<script language="javascript" type="text/javascript"> 
<!--
/**
	=================================================================================================
	Generate Protected Agreement
	Creates protected final version of an agreement by calling custom merge code.
	=================================================================================================
*/
function initPage() {
	window.setTimeout("doInit();",gTimeout);
}

function doInit() {
	gAction = cACTION_GENERATE_AGREEMENT;
	generateAgreementInit();
}

function preMerge() {
	//gIsProtected = true;
}
//-->
</script>
</head>

<body onload="initPage()" class="home  editPage">

<div id="divMain"><h1>Please wait...</h1></div>

</body>
</html>